/*

div:nth-child(7) {
  display: none !important;
}

#topsection {
  background-color: #23272A !important;
  color: #212529 !important;
  border-color: #23272A;
  border-style: solid;
  border-radius: 25px;
  margin-bottom: 30px;
}

*/